.mobile-menu__button {
  display: none;
  width: 24px;
  height: 3px;
  border: none;
  padding: 0;
}

@media (max-width: 534px) {
  .mobile-menu__button {
    display: block;
    background-color: #FFF;
  }

  .mobile-menu__button::before {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #FFF;
    margin-top: 9px;
  }

  .mobile-menu__button::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background-color: #fff;
    position: relative;
    margin-top: 6px;
  }
}
