.popup__container {
  position: fixed;
  display: grid;
  grid-template-columns: 430px 32px;
  grid-template-rows: repeat(2, auto);
  gap: 8px;
  z-index: 1;
}

.popup_type_image > .popup__container {
  grid-template-columns: max-content 32px;
}

@media (max-width: 585px) {
  .popup__container {
    grid-template-columns: 282px;
    grid-template-rows: repeat(2, max-content);
    row-gap: 16px;
  }

  .popup_type_image > .popup__container {
    grid-template-columns: max-content;
  }
}
