.auth__input {
  border: none;
  border-bottom: 2px solid #CCC;
  color: #CCC;
  padding: 0 0 13px 0;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  background: transparent;
}

.auth__input:first-of-type {
  margin-bottom: 30px;
}

@media (max-width: 420px) {
  .auth__input {
    width: 260px;
  }
}
