.header {
  border-bottom: 1px solid #545454a7;
  display: flex;
  justify-content: space-between;
  padding-bottom: 41px;
}

@media (max-width: 880px) {
  .header {
    padding-left: 72px;
    padding-right: 72px;
  }
}


@media (max-width: 420px) {
  .header {
    padding-bottom: 32px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
