.header__nav-link {
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
}

.header__nav-link:hover {
  opacity: .6;
  transition: all .2s ease-in-out;
}

@media (max-width: 420px) {
  .header__nav-link {
    font-size: 14px;
  }
}
